blosc2==2.0.0
byost==0.0.13
cython==0.29.34
dustmaps==1.0.12
h5py==3.10.0
healpy==1.16.6
msgpack-python==0.5.6
numexpr==2.8.4
pandas==2.0.0
progressbar2==4.2.0
py-cpuinfo==9.0.0
pyphot==1.4.4
python-utils==3.8.1
pytz==2023.3
seaborn==0.13.2
sfdmap==0.1.1
tables==3.8.0
tzdata==2023.3
